body{
    /* 드래그 방지 */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none

    
}

.edit_board-container{
    width: 400px;
    height: 160px;

    padding-inline: 25px;
    padding-block: 20px;

    
    border: 0.7px solid rgba(75, 75, 75, 0.5);
    border-radius: 15px; 

    display: flex;
    gap: 10px;
    flex-direction: column;
}

.edit_board-list-container{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.edit_board-list-radio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit_board-complete{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.edit_board-complete-button{
    display: flex;
    justify-content: center;
}

textarea{
    width: 395px;
    height: 120px;

    
    border: none;
    border-radius: 15px;
    padding: 5px;
    resize: none;
    background-color: rgba(168, 168, 168, 0.3);
}

.uploadImage{
    border: none;
    border-radius: 3px;
    background-color: rgba(50, 50, 50, 0.2);
    cursor: pointer;
}
.image_container{
    border: 1px solid red;
    height: 20px;
}

.btn-upload {
    border: none;
    border-radius: 3px;

    padding-block: 1px;
    padding-inline: 8px;
    text-rendering: auto;

    font-size: 13.5px;
    background: rgba(50, 50, 50, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background: rgba(50, 50, 50, 0.5);
      color: #fff;
    }
  }
  
  #file {
    display: none;
  }

  